/* App.css */

/* 전체 컨테이너 */
.app-container {
  background-color: #ffe0b1;
  display: flex;
  justify-content: center;  /* 수평 중앙 정렬 */
  align-items: center;  /* 수직 중앙 정렬 */
  height: 100vh;  /* 전체 뷰포트 높이 */
} 


