:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #ffe0b1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 기본적으로 모든 공백 제거 */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

/* 페이지 전체를 채우는 기본 스타일 */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  min-height: 100vh;
  
}



@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('./assets/fonts/Dovemayo_wild.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.next-button {
    margin-top: 20px; /* 원하는 만큼 조정 (기본값보다 늘림) */
    padding: 12px 24px;
    font-size: 18px;
    background-color: #00897b;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}