.logo {
    display: block;
    margin: 0 auto 20px;
    width: 300px;
    height: auto;
}

/* 폼 컨테이너 */
.form-container {
    padding: 10px;
    border-radius: 12px;
    width: 380px;
    text-align: center;
}

/* 입력 그룹 */
.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

/* ID, 이메일 입력 필드와 버튼을 나란히 배치 */
.inline-group {
    display: flex;
    align-items: center;
    gap: 8px;
}

.inline-group .input {
    flex: 1; /* 남은 공간을 입력창이 차지하도록 */
}

.input {
    width: 100%;
    padding: 18px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* 버튼 */
.auth-button {
    width: 100%;
    padding: 14px;
    margin-bottom: 1%;
    font-size: 18px;
    background-color: #81bec5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.auth-button:hover {
    background-color: #5dade2;
}

/* 링크 버튼 */
.secondary-button {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

/* 작은 버튼 (중복 검사 버튼) */
.small-button {
    font-size: 0.8rem;
    padding: 12px 15px; /* 버튼 패딩 조정 */
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0; /* 버튼 크기 고정 */
}

.small-button:hover {
    background-color: #45a049;
}

.kakaobtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex; /* 버튼 내 요소를 정렬 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    width: 100%; /* 버튼이 부모 요소의 전체 너비를 차지하도록 설정 */
  }
  
  .kakao {
    width: 100%; /* 가이드에 맞춘 크기 */
    height: auto;
    display: block;
    margin: 10px auto; /* 중앙 정렬 */
    box-shadow: inset;
  }



