/* .create-room {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.room-button, .cancel-btn {
    background-color: rgb(254, 178, 119);
    border: none;
    border-radius: 10vw;
} */
