.logout-container {
    position: fixed;
    
    display: flex;
    flex-direction: column; /* ✅ 수직 정렬 */
    align-items: center; /* ✅ 중앙 정렬 */
    justify-content: center;
    cursor: pointer;
}



.logout-icon:hover {
    opacity: 0.7;
}

.logout-text {
    margin-top: 4px; /* 이미지와 텍스트 사이 간격 */
    font-size: 1vw;
    font-weight: bold;
    color: darkslategrey; /* 텍스트 색상 */
}


.logout-icon {
        
    border: none;
    border-radius: 50%;     
    cursor: pointer;     
    z-index: 1000;   
    width: 3vw;
    height: 3vw;
}

.logout-button:hover img {
    transform: scale(1.1); /* ✅ 마우스 올리면 10% 확대 */
}
