.record-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;
  }
  
  .record-button img {
    width: 60px; /* 버튼 크기 */
    height: 60px;
  }
  
  .record-button:active {
    transform: scale(0.9);
  }
  