.prons-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto; /* ✅ 전체 화면을 채우도록 설정 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  margin-top: -12vh; /* ✅ 제목을 위로 이동 */
  
}
  .prons-card{
    font-family: SDSamliphopang;
    font-size: 1.35rem;
    width: 18vw;
    height: 63vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 2rem;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .prons-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .prons-card-slider {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: -1vh; /* ✅ 카드 전체를 위로 이동 */
    /* padding: 0 2vw */
  }

  .prons-card:nth-child(1) {
    background: linear-gradient(135deg, #f28d8d, #f5b2b2); /* 첫 번째 카드 그라데이션 */
    color: #fff;
    
  }
  .prons-card:nth-child(2) {
      background: linear-gradient(135deg, #88c2d8, #b3e4f2); /* 두 번째 카드 그라데이션 */
      color: #fff;
      
  }
  .prons-card:nth-child(3) {
      background: linear-gradient(135deg, #ffb88c, #ffd7a5); /* 세 번째 카드 그라데이션 */
      color: #fff;
      
    }

  .card .emoji {
    font-size: 2rem;
   
  }

  .prons-card .divider {
    width: 80vw;
    height: 2px;
    background-color: #ccc;
    margin: 1rem 0;
  }

  .start {
    font-size: 1.2rem;
    margin-top: 10px;
    font-family: SDSamliphopang;
    background-color: #f5b041;
    width: 100px;
    height: 30px;
    color: #fff;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start:hover {
    background-color: #d68910;
  }

  .pronstitle-image {
    width: 60vw;
    height: auto;
    max-width: 600px;
    margin: 1rem auto;
    display: block;
  }

