
.prons-second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    box-sizing: border-box;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    /* max-width: 800px; */
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
  }
  
  .camera-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .camera-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 56vh;
    background-color: #eef;
    /* border: 2px #aaa; */
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    overflow: hidden;
  }
  

  .camera-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transform: scaleX(-1);
    }

  .accuracy {
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }
  
  .accuracy-box {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 150px;
    padding: 15px;
    border: 2px solid black;
    background-color: #ffebcd;
    text-align: left;
}
.accuracy-box h3 {
    margin: 0;
    font-size: 16px;
}
.accuracy-box p {
    margin: 5px 0;
    font-size: 14px;
}

.pronunciation-box {
    position: absolute;
    top: 3%;  /* 화면 상단에 배치 */            
    background-color: #FF9595; 
    padding: 5px 15px;
    border-radius: 100%;
    font-family: 'DXChildsdrawing';
    font-size: 66px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

  
.record-button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* .next-button {
    margin-top: 16px; 
    padding: 10px 22px;
    font-size: 16px;
    background-color: #2ec4a1;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; 
    right: 80px;
    bottom: 20px;
    font-weight: bold;
} */

.lip-video {
    width: 24vw;
    height: 34vh;
    transform: translateY(-1vh) ;
}

.image-top, .image-bottom {
    width: 24vw;
    height: 32vh;
    border: none;
    border-radius: 10px;
  }

  .feedback-box {
    background-color: #f8f9fa;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    width: 60vw;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}
