/* 전체 컨테이너 */
.prons-first-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    height: 100vh;
    background-color: #ffe0b1;
}

/* ✅ 튜토리얼 비디오 컨테이너 */
.tutorial-container {
    position: relative;
    width: 100vw; 
    height: 100vh; /* 화면 전체 높이 */
    overflow: hidden; /* 넘치는 부분 숨기기 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(35, 35, 35); /* 배경을 검게 설정 */
}

/* ✅ 튜토리얼 비디오 */
.tutorial-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 화면에 꽉 차도록 설정 (비율 유지) */
    position: absolute;
    /* top: 0;
    left: 0; */
}



/* 🔹 이미지 컨테이너  */
/* .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    transform: translateY(5%);
} */


/* 🔹 설명 컨테이너 크기 키우기 */
/* .description-container {
    text-align: center;
    background-color: #e3f2fd;
    padding: 3vh;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 800px;  
    margin-bottom: 2vh;
    font-size: 1.3rem; 
    font-family: Pretendard;
    font-weight: bold;
    transform: translateY(8%);
} */

.audio-wrapper {
    display: flex;
    flex-direction: column; /* 버튼과 오디오를 세로 정렬 */
    align-items: center; /* 가운데 정렬 */
}


.audio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .audio-button {
    background-color: #87b089;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transform: translateY(30%);
}
  
  .audio-button:hover {
    background-color: #45a049;
  }
  
  .audio-container audio {
    margin-top: 10px;
    width: 300%;
    max-width: 300px;
    z-index: 2;
    transform: translateY(30%);
  } 
  
.prons-button-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.audio-player {
    width: 130px; /* 크기를 줄여서 버튼과 정렬 유지 */
    margin-top: 5px;
    
}

.next-button {
    margin-top: 16px; 
    padding: 10px 20px;
    font-size: 16px;
    background-color: #54c3c3;
    color: white;
    border: white 2px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed;
    right: 30px;
    bottom: 20px;
    font-weight: bold;
}

.lips-video {
    width: 400px;
    height: 300px;
}

/* 🔹 이미지 크기 키우기 */
/* .lip-image,
.mouth-image {
    width: 400px; 
    height: 300px;
    border-radius: 1.2rem;
}

.pronunciation-box {
    position: absolute;
    top: 3%;        
    background-color: #FF9595; 
    padding: 5px 15px;
    border-radius: 100%;
    font-family: 'DXChildsdrawing';
    font-size: 70px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
} */


