.prons-container {
    padding: 10px;
    text-align: center;
  }
  
  .card{
    font-family: Dovemayo_gothic;
    font-size: 1.5rem;
  }
  
  .card-slider {
    display: flex;
    gap: 20px;
    overflow-x: auto; /* 가로 스크롤 활성화 */
    padding: 10px;
    scroll-snap-type: x mandatory; /* 슬라이드 스냅 */
    width: 100%;
    box-sizing: border-box;
  }

  .start-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f5b041;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #d68910;
  }

  .pronstitle-image {
    width: 100%;
    max-width: 600px;
    margin: 2.5rem auto;
    display: block;
  }
  