.prons-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh; /* ✅ 전체 화면을 채우도록 설정 */
  justify-content: flex-start; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  margin-top: -12vh; /* ✅ 제목을 위로 이동 */
  
}
  .card{
    font-family: SDSamliphopang;
    font-size: 1.5vw;
    width: 18vw;
    height: 60vh;
  }
  
  .card-slider {
    display: flex;
    gap: 1vw;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: -1vh; /* ✅ 카드 전체를 위로 이동 */
    /* padding: 0 2vw */
  }

  .card:nth-child(1) {
    background: linear-gradient(135deg, #f28d8d, #f5b2b2); /* 첫 번째 카드 그라데이션 */
    color: #fff;
    
  }
  .card:nth-child(2) {
      background: linear-gradient(135deg, #88c2d8, #b3e4f2); /* 두 번째 카드 그라데이션 */
      color: #fff;
      
  }
  .card:nth-child(3) {
      background: linear-gradient(135deg, #ffb88c, #ffd7a5); /* 세 번째 카드 그라데이션 */
      color: #fff;
      
    }

  .card .emoji {
    font-size: 2rem;
   
  }

  .card .divider {
    width: 80vw;
    height: 2px;
    background-color: #ccc;
    margin: 1rem 0;
  }

  .start {
    font-size: 1.2vw;
    font-family: SDSamliphopang;
    background-color: #f5b041;
    width: 7vw;
    height: 4vw;
    color: #fff;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start:hover {
    background-color: #d68910;
  }

  .pronstitle-image {
    width: 75%;
    max-width: 600px;
    margin: 1rem auto;
    display: block;
  }


  /* @media (max-width: 768px) {
    .card {
      width: 80vw;
      height: 50vh;
      font-size: 1.2rem;
    }
  
    .start-button {
      font-size: 1.5rem;
      width: 70%;
      max-width: 100px;
    }
  
    .pronstitle-image {
      width: 90vw;
    }
  }
   */