/* FirstPrac.css */

.prons-second-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center; /* 세로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 */
    box-sizing: border-box;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    width:150%;
    max-width: 800px;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .image-top, .image-bottom {
    width: 18rem;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .camera-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .camera-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25rem;
    background-color: #eef;
    border: 2px dashed #aaa;
    border-radius: 10px;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    overflow: hidden;
  }
  

  .camera-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

  .accuracy {
    font-size: 18px;
    font-weight: bold;
    color: #444;
  }
  
  .accuracy-box {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 150px;
    padding: 15px;
    border: 2px solid black;
    background-color: #ffebcd;
    text-align: left;
}
.accuracy-box h3 {
    margin: 0;
    font-size: 16px;
}
.accuracy-box p {
    margin: 5px 0;
    font-size: 14px;
}

.pronunciation-box {
    position: absolute;
    top: 3%;  /* 화면 상단에 배치 */            
    background-color: none;
    padding: 10px 15px;
    border-radius: 40px;
    font-family: 'DXChildsdrawing';
    font-size: 55px;
    font-weight: bold;
    color: #000000;
}
